<div class="w-full">
  <section aria-label="photos">
    <div class="carousel" data-carousel>
      <!--<button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>-->
      <!--<button class="carousel-button next" data-carousel-button="next">&#8658;</button>-->
      <ul data-slides>
        <li class='slide' data-active>
          <%= image_tag('index/boatcarousel.jpg', alt:'sailboat') %>
        </li>
        <li class='slide'>
          <%= image_tag('index/raincarousel.jpg', alt:'rain') %>
        </li>
        <li class='slide'>
          <%= image_tag('index/ropecarousel.jpg', alt:'ropes tied off') %>
        </li>
        <li class='slide'>
          <%= image_tag('index/workcarousel.jpg', alt:'rigging and repairing') %>
        </li>
      </ul>
    </div>
  </section>
  <div class="flex flex-col sm:flex-row w-full h-[70dvh] text-white font-bold text-center">
    <div class="flex flex-col justify-end h-full py-10 w-full sm:w-[33%] gap-4 bg-[url('index/scissors.jpg')] bg-cover bg-center font-inter">
      <p class="text-2xl">Shop our online store</p>
      <%= link_to "Store", home_store_path, class:'btn-grey' %>
    </div>
    <div class="flex flex-col justify-end py-10 w-full sm:w-[33%] gap-4 bg-[url('index/gunwale.jpg')] bg-cover bg-center h-full font-inter">
      <p class="text-2xl">Contemporary and traditional rigging and consultation</p>
      <%= link_to "Rigging", home_rigging_path, class:'btn-grey' %>
    </div>
    <div class="flex flex-col justify-end py-10 w-full sm:w-[33%] gap-4 bg-[url('index/teamup.jpg')] bg-cover bg-center h-full font-inter">
      <p class="text-2xl">Learn how to rig your boat</p>
      <%= link_to "Education", home_education_path, class:'btn-grey' %>
    </div>
  </div>
</div>

<script>
  setTimeout(this.showSlides, 5000);

  function showSlides() {
    let i;
    let slides = document.querySelector("[data-slides]");
    let activeSlide = slides.querySelector("[data-active]");

    let newIndex = [...slides.children].indexOf(activeSlide) + 1;
    if (newIndex >= slides.children.length) newIndex = 0;

    slides.children[newIndex].dataset.active = true;
    delete activeSlide.dataset.active;
    
    setTimeout(showSlides, 5000);
  }
</script>