<div class='flex flex-col align-bottom px-16 md:px-80 pt-12 pb-16 text-blue-900 font-inter w-full'>
	<p class="font-bold text-2xl mb-4">Brion Toss Yacht <br />Riggers</p>
	<nav class="flex flex-wrap gap-2 tracking-wider">
		<%= link_to 'Rigging', home_rigging_path, class:'flex my-2 hover:text-red-300' %>
		<%= link_to 'Store', home_store_path, class:'flex my-2 hover:text-red-300' %>
		<%= link_to 'Education', home_education_path, class:'flex my-2 hover:text-red-300' %>
	</nav>
	<nav class="flex flex-wrap gap-2 tracking-wider">
		<%= link_to 'Blog', blog_home_path, class:'flex my-2 hover:text-red-300' %>
		<%= link_to 'About', home_about_path, class:'flex my-2 hover:text-red-300' %>
	</nav>
	<p class="tracking-wider mt-4"><span class="text-red-800">&copy</span> Brion Toss Yacht Riggers <span class="text-red-800">2023</span></p>
	<p class="tracking-wider mt-2"><span class="text-red-800">Powered by</span> Wordpress  <span class="text-red-800">&#x2022;</span> Themify</p>
	<p class="tracking-wider mt-2">Wordpress Themes</p>
</div>