<div data-controller='nav' class="w-full sticky top-0 z-40">
	<nav class='w-full pt-6 narrow font-inter text-red-700 flex justify-between transition-all ease-in-out duration-400 delay-50' data-nav-target='top'>
		<div class='flex flex-col gap-4 mb-4'>
			<div class='flex'>
				<%= link_to root_path do %>
					<%= image_tag('index/logo.png', class:'w-[300px] h-auto cursor-default transition-all duration-400 ease-in-out', id:'logo') %>
				<% end %>
				<div class='w-auto'></div>
			</div>
			<p class='text-large mb-4 tracking-wider transition-all ease-in-out duration-400' data-nav-target="subtitle">Blending the ageless wisdom of traditional rigging with modern applications and materials.</p>
		</div>
		<div class='flex text-lg font-black tracking-wider gap-12 invisible md:visible w-0 md:w-auto transition-all ease-in-out duration-400' data-nav-target='nav'>
			<%= link_to 'Store', home_store_path, class:'flex my-2 hover:text-red-500 cursor-default' %>
			<%= link_to 'Rigging', home_rigging_path, class:'flex my-2 hover:text-red-500 cursor-default' %>
			<%= link_to 'Education', home_education_path, class:'flex my-2 hover:text-red-500 cursor-default' %>
		</div>
	</nav>
</div>